<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aap.nls.eclipse"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aap.nls.eclipse"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aap.nls.eclipse"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aap.nls.eclipse"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aap.nls.eclipse"
            objectClass="org.eclipse.ui.IWorkingSet">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.aap.nls.eclipse"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               class="com.aap.nls.eclipse.actions.Internationalize"
               id="com.aap.nls.eclipse.actions.Internationalize"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup"
               label="%InternationalizeActionLabel">
         </action>
      </viewerContribution>
   </extension>
</plugin>
